* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #595959;
}

h1,h2,h3,p   {
  color: #595959;
}

.center{
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul.skills li{
  display: inline-block;
}



header,footer{
  background-color: #F0F0F0;
  padding: 5px;
  color:#F8F8F8;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.bottom-nav {
  display: none;
}

#avatar-pic {
  width: 100%;
  margin: 0 auto;
  padding: 30px;

}

.main-nav {
  text-align: center;
}

.img-box {

  margin:0 auto;
  max-width: 400px;
}

.pic {
  width:100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  color: #595959;
  list-style-type: none;
  margin:6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: .9em;
}

li.nav {
  background-color: white;
}

@media (max-width: 768px) {
  li.line{
  display: none;
  }
.skills{
  text-align: center;
  }
}

.container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.pic-text {

  text-align: center;
  overflow: auto;
  font-size: 1.2em;
  height: auto;

}

.name {

  margin: 0 auto;
  color: #595959;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 900;
}


.name li{
  color: #595959;
  display: none;
}

.lead, .follow {
  text-align: center;
  max-width: 400px;
  margin:0 auto;
  margin-bottom: 20px;
  font-size: 1em;
  color: #595959;

}

address {
  text-align: center;
  line-height: 2;
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin: 45px;
}

h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.1em;
}

.contact-info{
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: .8em;

}

hr{
  visibility: hidden;
  margin: 25px 0;
}

b{
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {

  .skills li{
    display: inline;
    padding: 10px;
    line-height: 4;
    }

    .skills {
      max-width: 700px;
      margin:0 auto;
    }



  #avatar-pic {
    float: right;
    max-width: 450px;
  }

  .wrapper {

    text-align: center;
    width: 100%;
  }

  .right.contact-info {
    display: none;
  }

  .bottom-nav {
      display: inline;
      margin-top: 20px;

  }

  .desc {
    font-size: 1em;
    height: auto;
    overflow: auto;
    height: 170px;
  }

  .lead {

    text-align: left;
    max-width: 500px;
    margin: 45px 0px 0px 50px;
    font-size: 1.5em;

  }

  .follow {

    max-width: 500px;

  }

  .container {
    max-width: 44%;
    margin:10px;
    display:inline-block;
  }

  li {

    margin-top: 10px;


  }

  li.container {

    margin-top: -4px;

  }

  li.nav {
    display: inline-block;
    background-color: transparent;
    margin: 0 auto;

  }

  .img-box {
    float: right;
    margin:0 auto;
    width: 40%;
  }

@media (min-width: 1024px){


  .main-nav{
    text-align: right;
    margin-top: 27px;
  }

  .name {
    float: left;
    color: #595959;
  }

  .img-box {
    max-width: 600px;
    text-align: right;
  }

  #avatar-pic {
    float: left;
    width: 350px;
    margin-left: 20%;
  }

  li.nav {
  text-align: right;
  font-size: 1.2em;
  }


  .container{

    width: 30%;


  }

  .wrapper {

    text-align: center;

  }

  .lead {


    max-width: 700px;
    font-size: 1.8em;

  }



  .name {
    margin-left: 100px;
    margin: 20px;
  }
}
