* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {

  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #595959;
}

.left.name {
  margin-top: 18px;
  font-size: .75em;
  padding: 10px 2px;
}

.right.contact-info {
  margin-top: 13px;
  font-size: .75em;
  padding: 10px 2px;
}

.name {
  font-size: 1.5em;
}

h1,h2,h3,p   {
  color: #595959;
  font-family: 'Roboto', sans-serif;
}

h1#portfolio {
  margin: 70px 5px;
}

h1 {
  text-align: center;
}

.skills{
  margin: 0 auto;
  max-width: 600px;
}

h2,p.pic-text {
  text-align: center;

}

.pic-text {
  margin: 0 auto;
  max-width:340px;
}

.desc{
  max-width: 450px;
  margin:50px auto;
}

.lead {

  text-align: center;
  font-size: 1.2em;
  margin: 30px;
}

.lead-container {
  margin:0 auto;
  margin-top: 20px;
  max-width: 500px;
}

a.contact-info {
  margin: 10px;
  line-height: 2;
}


.follow {
  margin: 20px auto;
  max-width: 300px;
}

.center{
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


hr{
  visibility: hidden;
  margin: 25px 0;
}

header,footer{
  background-color: #F0F0F0;
  padding: 5px;
  color:#F8F8F8;
}

footer{
  padding: 20px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.bottom-nav {
  display: none;
}

#avatar-pic {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  clear: left;
}

.main-nav {
  text-align: center;
}

.img-box {

  margin:0 auto;
  max-width: 400px;
}

.pic {
  width: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  color: #595959;
  list-style-type: none;
  margin:6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: .9em;
}

li.nav {
  background-color: white;
}


@media (min-width: 768px) {

  .skills li{
    display: inline;
    padding: 10px;
    line-height: 4;
    }

    .name{

      font-size: 2em;

    }

    .contact-info{
      margin: 0 auto;
    }

    ul {
      margin-right: 30px;
    }

    .lead-container {
      display: inline;
      width: 1000px;
    }

    .left.name {
    font-size: 1.1em;
    }

    .right.contact-info {
      font-size: .9em;
      display: none;
    }


  #avatar-pic {
    display: inline-block;
    max-width: 450px;
  }

  .wrapper {

    text-align: center;
    width: 100%;
  }


  .bottom-nav {
      display: inline;
      margin-top: 20px;

  }

  .desc {
    font-size: 1em;
    height: auto;
    overflow: auto;
    height: 170px;
  }

  .lead {

    text-align: left;
    margin: 45px 0px 0px 50px;
    line-height: 1.3;
    font-size: 1.5em;
  }

  .lead-container {
    width: 420px;
  }

  .follow {

    max-width: 500px;

  }

  .container {
    max-width: 44%;
    margin:10px;
    display:inline-block;
  }

  li {

    margin-top: 10px;


  }

  li.container {

    margin-top: -4px;

  }

  li.nav {
    display: inline-block;
    background-color: transparent;
    margin: 0 auto;

  }

  .img-box {
    float: right;
    margin:0 auto;
    width: 40%;
  }
}
@media (min-width: 1024px){

  .lead-container {
    width: 500px;
  }
  .lead{
    display: block;
    width: 600px;
    line-height: 1.5;
  }

  .main-nav{
    text-align: right;
    margin-top: 27px;
  }

  .name {
    float: left;
    color: #595959;
  }

  .img-box {
    max-width: 600px;
    text-align: right;
  }

  #avatar-pic {
    float: left;
    width: 350px;
    margin-left: 20%;
  }

  li.nav {
  text-align: right;
  font-size: 1.2em;
  }


  .container{

    width: 30%;

  }

  .wrapper {

    text-align: center;

  }

  .lead {

    max-width: 700px;
    font-size: 1.8em;

  }

  .left.name {
    font-size: 1.5em;

  }

  .white {
    background-color: white;
  }


  .name {
    margin-left: 50px;
    margin-top: 30px;
  }
}
